<p>user-detail works!</p>

<div *ngIf="userData">
    <mat-card>
        <mat-card-content class="user-detail-header">
            <img src="../../assets/img/avatar.png" alt="">
            <div class="user-details">
                <h2>{{userData.firstName}} {{userData.lastName}}</h2>
                {{userData.email}}
            </div>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="mt-32">
        <mat-card-header>
            <mat-card-title>Address</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{userData.address}} <br>
            {{userData.postCode}} {{userData.city}}
    
        </mat-card-content>
    </mat-card>
</div>
