<mat-card>
  <mat-card-content>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
      </tr>

      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>

      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
     
    </table>
  </mat-card-content>
</mat-card>

<button class="add-user-btn" mat-fab color="primary" matTooltip="Add user" matTooltipPosition="above" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>